 html, body {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;

  /* Users can't highlight anything on the page */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Flexbox:  */
.top-widget{
  display: flex;
}

/* Header */
.marigold{
  margin-left: 300px;
  display: inline;
  margin-top: 55px;
  font-size: 40px;
}

/* Entire nav bar itself */
.nav-bar{
  margin-top: 73px;
  margin-left: 79px;
}

/* Individual items on the nav bar */
.nav-item{
  display: inline;
  padding-right: 81px;
  font-size: 24px;
}

/* Links (gets rid of the underline) */
a{
  color: white;
  text-decoration-line: none;
  text-decoration: none;
}

a:hover{
  color: #1d689a;
}

a#non-header:hover{
  color: white;
}

a#selected{
  color: #1d689a;
  border-bottom: 3px solid #1d689a;
  padding-bottom: 10px;
}

body{
  background-color: #002945;
  color: white;
}

.big-flexbox-mood{
  height: 751px;
  width: 1367px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.spotify-facts-flexbox{
  display: flex;
}

.timer-calendar-flexbox{
  display: flex;
  flex-direction: column;
}

.mood-list-flexbox{
  display: flex;
}

.tasklist-timer-calendar-flexbox{
  display: flex;
}

.mood-list{
  display: flex;
  height: 750px;
  width: 273px;
  background-color: #00406C; 
}

.spotify-playlist{
  height: 208px;
  width: 455px;
  background-color: #00406C;
  margin-left: 26px;
}

.fun-facts{
  height: 208px;
  width: 578px;
  margin-left: 26px;
  background-color: #00406C; 
}

.task-list{
  height: 516px;
  width: 652px;
  margin-left: 26px;
  margin-top: 26px;
  background-color: #00406C; 
}


.calendar-widget{
  height: 300px;
  width: 382px;
  margin-left: 26px;
  margin-top: 26px;
  background-color: #00406C; 
}

.timer-widget{
  height: 190px;
  width: 382px;
  margin-left: 26px;
  margin-top: 26px;
  background-color: #00406C;
}

.circle-flex-box{
  display: flex;
  margin-top: 65px;
  margin-left: 31px;
  flex-direction: column;
  height: 666px;
}

.circle{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-bottom: 51px;
  cursor: pointer;
}

.circle#happy{
  background-color: #7251B5;
}

.circle#tired{
  background-color: #1B44AD;
}

.circle#playful{
  background-color: #FF9BB5;
}

.circle#anxious{
  background-color: #E3CE7E;
}

.circle#calm{
  background-color: #AECBEB;
}

.circle#frustrated{
  background-color: #DC364E;
}

.text-flex-box{
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 28px;
  height: 666px;
  cursor: pointer;
}

.mood-text{
  font-size: 24px;
  padding-top: 15px;
  margin-bottom: 64px;
}

.fact-box{
  height: 125px;
  width: 526px;
  background-color: #317aaa;
  position: relative;
  bottom: 10px;
  overflow-y: scroll;
}

.fact{
  list-style-type:none;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #266d9c;
  font-size: 18px;
}

.fact:nth-child(odd){
  background: #4585b0;
}

.to-do-title{
  font-size: 24px;
  margin-left: 25px;
  padding-top: 3px;
}

.to-do-input{
  margin-left: 0px;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  position: relative;
  top: 3px;
  padding: 3.5px 40px;
  border: none;
  cursor: pointer;
  background-color: #317aaa;
  color: white;
}

.addBtn:hover {
  background-color: #236795;
  border: none;
}

.to-do-list{
  background-color: #317aaa;
  width: 584px;
  height: 318px;
  position: relative;
  left: 25px;
  top: 25px;
  overflow-x: auto;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.todo {
  margin: 0;
  padding: 0;
}

.todo .todoitem {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #266d9c;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todoitem:nth-child(odd) {
  background: #4585b0;
}

.todo .todoitem:hover {
  background: #1e4d6c;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#time{
  font-size: 30px;
  margin-right: 10px;
  position: relative;
  top: 10px;
}

.stopwatch-button{
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
  top: 10px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.stopwatch-button#button-start{
  background: #51d2cc;
}

.stopwatch-button#button-start:hover{
  background:  lightseagreen;
}

.stopwatch-button#button-stop{
  background: #f25a5a;
}

.stopwatch-button#button-stop:hover{
  background: #d03e3e;
}

.stopwatch-button#button-reset{
  background: lightblue;
}

.stopwatch-button#button-reset:hover{
  background: #92cadd;
}
